.btn {
  display: inline-flex;
  padding: 24px;

  color: $color-default-white;
  text-transform: uppercase;
  font-family: $ff-roboto-condenced;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 14px;
  line-height: 16px;
  justify-content: center;

  background-color: $color-transparent;
  border: 4px solid $color-default-white;
  cursor: pointer;
  user-select: none;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.7;
  }
}

.btn--header {
  font-size: 12px;
  line-height: 14px;
  padding: 20px;
  width: 233px;

  @include vp-1199 {
    width: 186px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.btn--subscription {
  font-size: 12px;
  line-height: 14px;
  color: $color-sapphire;
  max-width: 206px;
  width: 100%;
  padding: 26px;
  border: 2px solid $color-sapphire;
}
