.contacts {
  padding: 36px 0 49px 120px;

  h2 {
    font-family: $ff-alumni-sans;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 38px;
    color: $color-sapphire;
  }

  @include vp-1199 {
    padding: 62px 163px 63px 133px;

    h2 {
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 33px;
    }
  }

  @include vp-767 {
    padding: 65px 15px 64px;

    h2 {
      font-size: 32px;
      line-height: 38px;
    }
  }
}

.contacts__list {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 19px 121px;
  position: relative;
  margin-left: 4px;

  &::before {
    position: absolute;
    content: "";
    width: 1px;
    top: 6px;
    bottom: 3px;
    background-color: $color-light-slate-grey;
    left: 230px;
  }

  @include vp-1199 {
    margin-left: 0;
    gap: 21px 64px;
    grid-template-columns: 53% 1fr;

    &::before {
      left: 56%;
    }
  }

  @include vp-767 {
    grid-template-columns: 1fr;

    &::before {
      display: none;
    }
  }
}

.contacts__item {
  b {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: $color-sapphire;
    display: block;
    margin-bottom: 2px;
  }

  p {
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    color: $color-sapphire;
  }

  a {
    transition: opacity $trans-default;

    @include hover-focus {
      opacity: 0.7;
    }
  }

  @include vp-1199 {
    b {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 4px;
    }

    p {
      font-size: 18px;
      line-height: 27px;
    }
  }
}

.contacts__item:nth-child(2n + 2) {
  @include vp-767 {
    order: 1;
  }
}
