.form-contacts {
  background-image: linear-gradient(to right, $color-sapphire 0, $color-sapphire 50%, $color-default-white 50%);
  position: relative;

  @include vp-1199 {
    background-image: none;
  }
}

.form-contacts__wrapper {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
  padding-bottom: 16px;

  &::before {
    content: "";
    width: 50vw;
    position: absolute;
    height: 1px;
    background-color: $color-light-slate-grey;
    top: 0;
    right: 0;
  }

  @include vp-1199 {
    grid-template-columns: 1fr;
    padding: 0;

    &::before {
      display: none;
    }
  }
}
