.form {
  padding: 36px 0 49px;
  max-width: 410px;

  h2 {
    font-family: $ff-alumni-sans;
    font-weight: 800;
    font-size: 54px;
    line-height: 84px;
    letter-spacing: 0.03em;
    color: $color-default-white;
    margin: 0;
    margin-bottom: 13px;
  }

  @include vp-1199 {
    background-color: $color-sapphire;
    width: 100%;
    max-width: none;
    padding: 62px 163px 68px 133px;

    h2 {
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 28px;
    }
  }

  @include vp-767 {
    padding: 63px 15px 67px;

    h2 {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 31px;
    }
  }
}

.form form {
  display: grid;
  gap: 28px 30px;

  @include vp-1199 {
    gap: 28px 60px;
  }

  @include vp-767 {
    gap: 38px;
  }
}

.form__inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @include vp-1199 {
    gap: 60px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 27px;
  }
}
