.header {
  background: $header-desktop-conic;
  min-height: 658px;

  @include vp-1199 {
    background: $header-tablet-conic;
    min-height: 554px;
  }

  @include vp-767 {
    background: $header-mobile-conic;
    min-height: 491px;
  }
}

.header__wrapper {
  max-width: 1260px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  position: relative;
  z-index: 10;

  @include vp-1199 {
    max-width: none;
    padding: 34px 0;
  }

  @include vp-767 {
    padding: 15px 0;
  }
}

.header__logo {
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  font-family: $ff-alumni-sans;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: $color-default-white;
  transition: opacity $trans-default;

  @include vp-1199 {
    font-size: 24px;
    line-height: 29px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 24px;
  }

  @include hover-focus {
    opacity: 0.7;
  }
}

.header__phone {
  font-size: 26px;
  line-height: 31px;
  font-family: $ff-alumni-sans;
  font-weight: 600;
  letter-spacing: 0.03em;
  color: $color-default-white;
  transition: opacity $trans-default;

  @include vp-1199 {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.02em;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 24px;
  }

  @include hover-focus {
    opacity: 0.7;
  }
}

.header__promo {
  margin-top: -52px;
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px;
  gap: 63px;

  @include vp-1199 {
    gap: 30px;
    justify-content: space-around;
    max-width: 880px;
    margin: -16px auto 0;

    img {
      width: 324px;
      height: 390px;
      object-fit: cover;
    }
  }

  @include vp-767 {
    max-width: none;
    margin: 0;
    gap: 0;
    margin-top: 54px;
    justify-content: center;

    img {
      display: none;
    }
  }
}

.header__content {
  display: grid;
  max-width: 396px;
  width: 100%;

  ul {
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
    list-style: none;
    text-align: right;
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: $ff-roboto-condenced;
    font-size: 14px;
    line-height: 21px;
    color: $color-default-white;
  }

  h1 {
    margin: 0;
    font-family: $ff-alumni-sans;
    font-weight: 600;
    font-size: 92px;
    line-height: 110px;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color-default-white;
    grid-column: 2;
    -webkit-text-stroke: 4px;
  }

  p {
    margin: 59px 0 14px;
    padding-right: 51px;
    font-family: $ff-alumni-sans;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.03em;
    text-align: right;
    color: $color-default-white;
    grid-column: 2;
  }

  a {
    grid-column: 2;
    margin-top: 48px;
    margin-bottom: 43px;
    justify-self: end;
  }

  @include vp-1199 {
    column-gap: 25px;
    max-width: 324px;

    ul {
      margin-bottom: 22px;
    }

    p {
      margin: 0;
      margin-bottom: 10px;
      padding-right: 3px;
      font-size: 34px;
      line-height: 41px;
    }

    h1 {
      font-size: 72px;
      line-height: 86px;
      text-transform: none;
    }

    a {
      margin-top: 34px;
      margin-bottom: 22px;
    }
  }

  @include vp-767 {
    max-width: none;
    width: 100%;
    grid-template-columns: 114px 1fr;

    ul {
      margin-bottom: 31px;
    }

    h1 {
      margin-left: -35px;
    }

    p {
      font-size: 28px;
      line-height: 34px;
      margin-bottom: 13px;
    }

    a {
      grid-column: 1 / 3;
      margin: 24px 0;
    }
  }
}

.header__picture {
  background-color: $color-sapphire;
}
