.promo__wrapper {
  max-width: 1260px;
  padding-top: 122px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 660px;

  @include vp-1199 {
    padding-top: 100px;
    padding-bottom: 100px;
    grid-template-columns: 1fr 386px;
  }

  @include vp-767 {
    padding-top: 72px;
    padding-bottom: 70px;
    grid-template-columns: 1fr;
  }
}

.promo__inner {
  background-color: $color-torch-red;
  padding: 85px 78px;
  color: $color-default-white;

  p {
    margin: 0;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 45px;
  }

  @include vp-1199 {
    padding: 50px 45px;

    p {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 30px;
    }
  }
}

.promo__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;

  h2 {
    margin: 0;
    font-family: $ff-alumni-sans;
    font-weight: 600;
    font-size: 82px;
    line-height: 79px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-left: 11px;
  }

  @include vp-1199 {
    margin-bottom: 3px;

    h2 {
      font-size: 48px;
      line-height: 46px;
      margin-left: 6px;
    }
  }
}

.promo__date {
  display: flex;
  flex-direction: column;
  margin-top: -3px;
  gap: 19px;

  h3 {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 3px;
  }

  @include vp-1199 {
    gap: 3px;

    h3 {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 1px;
    }
  }
}

.promo__date-border {
  display: flex;
  align-items: center;
  max-width: fit-content;

  border-top: 1px solid $color-default-white;

  b {
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
  }

  p {
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    margin-left: 7px;
  }

  @include vp-1199 {
    b {
      font-size: 24px;
      line-height: 30px;
    }

    p {
      font-size: 10px;
      line-height: 15px;
      margin-left: 3px;
    }
  }
}

.promo__picture img {
  @include vp-1199 {
    width: 386px;
    height: 292px;
  }

  @include vp-767 {
    width: 100%;
    height: 293px;
    object-fit: cover;
  }
}
