.subscription {
  background-color: $color-ghost-white;
  width: 100%;
  position: relative;
}

.subscription__wrapper {
  padding-top: 120px;
  padding-bottom: 120px;
  max-width: 1260px;

  @include vp-1199 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 64px;
    padding-bottom: 70px;
  }
}

.subscription__wrapper h2 {
  font-family: $ff-alumni-sans;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  color: $color-sapphire;
  text-align: center;
  margin: 0;
  margin-bottom: 8px;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 12px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
  }
}

.subscription__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  @include vp-1199 {
    margin: 0 auto;
    max-width: 442px;
    grid-template-columns: 1fr;
  }

  @include vp-767 {
    max-width: none;
    width: 100%;
    gap: 34px;
  }
}

.subscription__element {
  background-color: $color-default-white;
  padding: 54px 56px 59px;
  text-align: center;
  border: 7px solid $color-default-white;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    color: $color-sapphire;
    margin: 0;
    margin-bottom: 10px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $color-chambray;
    margin: 0;
    margin-bottom: 65px;
  }

  @include hover {
    border: 7px solid $color-transparent;
    border-image: $crimson-to-smalt;
    border-image-slice: 1;

    .btn--subscription {
      background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
      color: $color-default-white;
      border: 0;
    }
  }

  @include vp-1199 {
    padding: 56px 56px 60px;
  }

  @include vp-767 {
    padding: 44px 30px 49px;

    h3 {
      font-size: 22px;
      line-height: 24px;
    }

    p {
      margin: 0 0 47px;
    }
  }
}

.subscription__element-price {
  position: relative;
  margin-bottom: 36px;

  p {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-weight: 700;
    font-size: 100px;
    line-height: 150px;
    color: $color-whisper;
    opacity: 0.48;
    user-select: none;
  }

  b {
    position: relative;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    z-index: 1;
    color: $color-egyptian-blue;
  }

  span {
    color: $color-sapphire;
    font-weight: 400;
  }

  @include vp-767 {
    p {
      font-size: 80px;
      line-height: 120px;
    }

    b {
      font-size: 48px;
      line-height: 72px;
      bottom: -7px;
    }
  }
}

.subscription__picture {
  position: absolute;
  bottom: -17.7%;
  right: 0;

  @include vp-1199 {
    bottom: -7%;
  }

  @include vp-767 {
    display: none;
  }
}
